@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300;400;700&display=swap');
:root{
    --light-grey: hsl(217, 12%, 63%);
    --medium-grey: hsl(216, 12%, 54%);
    --dark-blue: hsl(213, 19%, 18%);
    --very-dark-blue: hsl(216, 12%, 8%);
    --orange: hsl(25, 97%, 53%);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Overpass', sans-serif;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--very-dark-blue);
}
.card{
    width: 415px;
    height: 425px;
    padding: 30px;

    background: hsl(213, 19%, 11%);
    background: radial-gradient(circle at top, var(--dark-blue) 0%, hsl(210, 16%, 10%) 80%);
    border-radius: 30px;
}
.ratecontent{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.ratecontent .star img
{
    padding: 15px;
    clip-path: circle();

    background-color: var(--dark-blue);
}
.ratecontent h1{
    color: white;
    font-size: 28px;
    font-weight: 700;
}
.ratecontent p{
    color: var(--light-grey);
    font-weight: 400;
    font-size: 15px;
}
.ratecontent .rating{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.ratecontent .rating .r-btn{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
    transition: 0.3s ease;
}
.ratecontent .rating .deactive:hover{
    background-color: var(--medium-grey);
    color: white;
}
.deactive{
    background-color: var(--dark-blue);
    color: var(--light-grey);
}
.active{
    background-color: var(--orange);
    color: white;
}
.ratecontent #submit{
    width: 100%;
    height: 45px;

    border-radius: 23px;
    color: white;
    font-weight: 400;
    background-color: var(--orange);
    cursor: pointer;
    border: none;
    transition: 0.3s ease;
}
.ratecontent #submit:hover{
    background-color: white;
    color: var(--orange);
}


.thankscontent{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px 6px 20px 6px;
}
.thankscontent .rating{
    padding: 5px 15px 5px 15px;

    background-color: var(--dark-blue);
    font-size: 15px;
    color: var(--orange);
    font-weight: 300;
    border-radius: 20px;
}
.thankscontent .thanks-desc{
    text-align: center;
    color: white;
}
.thankscontent .thanks-desc p{
    padding-top: 20px;

    color: var(--medium-grey);
    font-size: 15px;
}


.none-display{
    display: none;
}